/* General styles for all screen sizes */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar {
    border-bottom: 0.5px;
    padding: 20px;
    gap: 10px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.navbar>.logo {
    width: 178.09px;
    height: 50px;
}

#search-box {
    border-radius: 40px;
    padding: 10px 20px;
    background-color: #F0F0F0;
}

.search-icon {
    position: absolute;
    top: 56px;
    margin-right: 25px;
}

.search-input {
    position: absolute;
    top: 55px;
    margin-left: 15px;
    padding-right: 220px;
    padding-bottom: 5px;
    margin-left: 25px;
}

.search-input>input {
    border-style: none;
    background-color: #F0F0F0;
}

.contact>p {
    font-weight: 500;
    font-size: 28px;
    line-height: 45px;
    text-align: center;
    font-family: 'Montserrat';
}

.main {
    background-color: #F2F0F1;
    height: auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.main>.left-side,
.right-side {
    width: 100%;
    padding: 20px;
}

.right-side>.boy-girl-img {
    height: auto;
    width: 100%;
    margin-left: 0;
}

.right-side {
    position: relative;
}

.right-side>.vector-img1,
.right-side>.vector-img2 {
    position: absolute;
}

.left-side {
    padding: 20px;
    margin: 0;
}

#heading {
    font-weight: 900;
    font-size: 64px;
    line-height: 64px;
    letter-spacing: 0%;
    vertical-align: middle;
    font-family: 'Montserrat';
}

.r-side-para {
    padding: 20px;
    font-weight: 400;
    font-family: 'Montserrat';
    font-size: 20px;
    line-height: 32px;
}

.shop-now-btn {
    padding: 16px 64px;
    gap: 12px;
    border-radius: 64px;
    background-color: #000000;
    color: white;
    border-style: none;
    margin-top: 20px;
}

.review {
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
    flex-wrap: wrap;
}

.review>div>h3 {
    font-weight: 700;
    font-size: 30px;
    line-height: 100%;
    letter-spacing: 0%;
    vertical-align: middle;
}

.review>div>p {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0%;
    color: #000000;
    opacity: 60%;
    font-family: 'Montserrat';
}

.intro {
    font-family: 'Montserrat';
    font-weight: bolder;
    font-size: 30px;
    color: #000000;
    position: absolute;
    top: 184px;
    left: 100px;
    gap: 70px;
}

.style-section {
    background-color: #F0F0F0;
    margin: 30px 45px;
    padding: 45px 30px;
}

.style-section>h1 {
    text-align: center;
}

.first-row,
.second-row {
    display: flex;
    margin: 20px 1px;
    flex-wrap: wrap;
}

.first-row>#img1,
.first-row>#img2,
.second-row>#img3,
.second-row>#img4 {
    width: 100%;
    height: auto;
    padding: 10px;
}

.category-btn {
    text-align: center;
}

.category-btn>button {
    border-radius: 62px;
    border: 1px solid #FFFFFF;
    background-color: #FFFFFF;
    padding: 16px 54px;
    gap: 12px;
}

.new-arrival-section {
    margin: 0 45px;
    padding: 45px 30px;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}

.new-arrival-section>h1 {
    text-align: center;
}

.arrival-section-photos {
    display: flex;
    margin-top: 20px;
    margin-bottom: 35px;
    flex-wrap: wrap;
}

.arrival1>img,
.arrival2>img,
.arrival3>img,
.arrival4>img {
    width: 100%;
    height: auto;
    border-radius: 20px;
    background-color: #F0EEED;
    margin-bottom: 20px;
}

.star-section>.product-name,
.star-section>.rate {
    font-size: 20px;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 0%;
    margin-top: 10px;
    margin-bottom: 15px;
}

.star-margin {
    margin-right: 6px;
}

.star-section >p.rate> .strike-price {
    opacity: 40%;
}

.discout {
    padding: 4px 14px;
    border-radius: 62px;
    background-color: rgba(255,51,51,0.3);
    color: #FF3333;
    border: none;
}

.view-details-btn {
    padding: 10px 90px;
    gap: 12px;
    border-radius: 62px;
    background-color: #000000;
    font-weight: 700;
    font-size: 17px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #FFFFFF;
}

.view-d-btn-m {
    margin-top: 3px;
}

.arrival-btn {
    text-align: center;
}

.arrival-btn>button {
    border-radius: 62px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #FFFFFF;
    padding: 16px 64px;
    gap: 12px;
}

.arrow-corner {
    gap: 10px;
    display: flex;
    align-items: end;
}

.arrow-corner > img {
    width: 24px;
    height: 24px;
    background-color: #F0F0F0;
    border-radius: 2px;
}

.container5 {
    margin: 35px 65px 0px 65px;
}

.happy-cus-section {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.happy-cus-section > h1 {
    font-family: 'Montserrat';
    font-weight: 900;
    font-size: 48px;
    line-height: 100%;
    letter-spacing: 0%;
}

.customer-reivew-section {
    justify-content: space-between;
    display: flex;
    margin-top: 40px;
    margin-bottom: 60px;
    flex-wrap: wrap;
}

.review-of-customers {
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    width: 100%;
    height: auto;
    padding: 28px 32px;
    margin-bottom: 20px;
}

.review-of-customers > h4 {
    font-family: 'Montserrat';
    font-size: 20px;
    font-weight: 700;
    line-height: 2;
}

.review-of-customers>p {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0%;
    color: rgba(0, 0, 0, 0.6);
}

.footer {
    background-color: #F0F0F0;
}

.about {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 70px;
    flex-wrap: wrap;
}

.logo {
    width: 178.09px;
    height: 50px;
}

.footer >.about> .about-content {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.social-contact {
    display: flex;
    gap: 30px;
}

.social-contact > span {
    border: 0.65px solid rgba(0, 0, 0, 0.2);
    background-color: #FFFFFF;
    padding: 10px 12px;
    border-radius: 21px;
}

.copyright-content > p {
    text-align: center;
    padding: 30px;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0%;
}

/* Media queries for responsiveness */
@media (min-width: 768px) {
    .main>.left-side,
    .right-side {
        width: 50%;
    }

    .first-row>#img1 {
        width: 40%;
    }

    .first-row>#img2 {
        width: 60%;
    }

    .second-row>#img3 {
        width: 60%;
    }

    .second-row>#img4 {
        width: 40%;
    }

    .arrival-section-photos {
        flex-wrap: nowrap;
    }

    .arrival1>img,
    .arrival2>img,
    .arrival3>img,
    .arrival4>img {
        width: 325px;
        height: 298px;
        margin-right: 20px;
    }

    .review-of-customers {
        width: 400px;
        height: 240px;
    }
}

@media (min-width: 1024px) {
    .navbar {
        padding: 40px 100px;
    }

    .main {
        height: 665px;
    }

    .left-side {
        padding: 64px 41px 324px 97px;
    }

    .right-side>.boy-girl-img {
        height: 41.44rem;
        width: 70%;
        margin-left: 70px;
    }

    .right-side>.vector-img1 {
        top: 60px;
        right: 132px;
        height: 99px;
        width: 104px;
    }

    .right-side>.vector-img2 {
        top: 198px;
        left: 90px;
        height: 53px;
        width: 56px;
    }
}