/* 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar {
    border-bottom: 0.5px;
    padding: 20px;
    gap: 10px;
    display: block;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.fa-solid,
.fas {
    font-weight: 900;
    position: absolute;
    bottom: 1.2rem;
}

.navbar>.logo {
    width: 178.09px;
    height: 50px;
}
#search-box {
    border-radius: 62px;
    padding: 2em 12em 2em 4em;
    background-color: #F0F0F0;
    position: relative;
}
.search-icon {
    position: absolute;
    top:57px;
}
.search-input {
    /* padding-left: 20px; */
    /* padding-left: 25px;
        padding-top: 3px;
}
.search-input>input {
    border-style: none;
    background-color: #F0F0F0;
}

.contact>p {
    font-weight: 500;
    font-size: 28px;
    line-height: 45px;
    text-align: center;
    font-family: 'Montserrat';
}

.main {
    background-color: #F2F0F1;
    height: auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.main>.left-side,
.right-side {
    width: 100%;
    padding: 20px;
}

.right-side>.boy-girl-img {
    height: auto;
    width: 100%;
    margin-left: 0;
}

.right-side {
    position: relative;
}

.vector-img1,
.vector-img2 {
    position: absolute;
}

.left-side {
    padding: 20px;
    margin: 0;
}

#heading {
    font-weight: bolder;
    font-size: 64px;
    line-height: 64px;
    letter-spacing: 0%;
    vertical-align: middle;
    font-family: 'Montserrat';
    margin: 1rem 83px;
}

.r-side-para {
    padding: 20px;
    font-weight: 400;
    font-family: 'Montserrat';
    font-size: 20px;
    line-height: 32px;
    margin: 0px 70px 0px 60px;
    }


.shop-now-btn {
    padding: 16px 64px;
    gap: 12px;
    border-radius: 64px;
    background-color: #000000;
    color: white;
    border-style: none;
    margin-top: 1.5rem;
    margin-left: 4.7rem;
}

.review {
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
    flex-wrap: wrap;
    margin-left: 4.7rem;
}

.review>div>h3 {
    font-weight: 700;
    font-size: 30px;
    line-height: 100%;
    letter-spacing: 0%;
    vertical-align: middle;
}

.review>div>p {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0%;
    color: #000000;
    opacity: 60%;
    font-family: 'Montserrat';
} */ */
body {
    width: 100%;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    border-bottom: 0.5px;
    padding: 2em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.navbar>.logo {
    width: 11em;
    height: 3em;
}

.contact {
    font-size: 1.6em;
    text-align: center;
}

#search-box {
    border-radius: 62px;
    padding: 0.8em 12em 0.8em 3em;
    background-color: #F0F0F0;
    position: relative;
}

.search-icon {
    position: absolute;
    left: 1.2rem;
    top: 0.9rem;
}

.search-input>input {
    border-style: none;
    background-color: #F0F0F0;
}

.main {
    background-color: #F2F0F1;
    width: 100%;
    display: flex;
}

.left-side {
    width: 50%;
    padding: 3% 0% 0% 5%;
    align-items: flex-start;
}

.right-side {
    width: 50%;
    position: relative;
    padding: 0% 0% 0% 5%;
}

.right-side>.boy-girl-img {
    width: 85%;
    height: 95vh;
}

.vector-img1,
.vector-img2 {
    position: absolute;
}

.vector-img1 {
    top: 6rem;
    right: 4rem;
    width: 6rem;
}

.vector-img2 {
    top: 15rem;
    left: 5rem;
    width: 3rem;
}

#heading {
    font-size: 5rem;
    margin-bottom: 0;
    margin-top: 0;
    /* line-height: 5rem; */
    letter-spacing: 0%;
    /* vertical-align: middle; */
    /* margin: 1rem 2rem; */
}

.r-side-para {
    font-weight: 400;
    margin-top: 1rem;
    font-family: 'Montserrat';
    font-size: 1.5rem;
    line-height: 1.9rem;
    color: #000000;
    opacity: 60%;

}

.shop-now-btn {
    padding: 1.2rem 5rem;
    border-radius: 64px;
    background-color: #000000;
    color: white;
    border-style: none;
    margin-top: 4rem;
}

.review {
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: space-between;
    margin-top: 2rem;
    /* margin-left: 4.7rem; */
}

.review>div {
    margin-right: 2rem;
}

.review>div>h3 {
    font-weight: 700;
    margin-bottom: 0px;
    font-size: 2rem;
    /* line-height: 100%; */
    letter-spacing: 0%;
    /* vertical-align: middle; */
}

.review>div>p {
    font-weight: 400;
    font-size: 12px;
    margin-top: 0px;
    /* line-height: 16px; */
    letter-spacing: 0%;
    color: #000000;
    opacity: 60%;
    font-family: 'Montserrat';
}
/* .intro {
    font-family: 'Montserrat';
    font-weight: bolder;
    font-size: 3em;
    color: #000000;
    position: absolute;
    top: 184px;
    left: 100px;
    gap: 70px;
} */

.style-section {
    background-color: #F0F0F0;
    margin: 3em 4em;
    padding: 2em 1em;
}

.style-section>h1 {
    text-align: center;
}

.first-row,.second-row{
    display: flex;
    margin: 2em 1em;
    flex-wrap: wrap;
}

.first-row>#img1
{
    width: 40%;
    height: auto;
    padding-right: 1rem;
}
.first-row>#img2{
    width: 55%;
    height: auto;
    padding-left: 1rem;
}
.second-row>#img3{
    width: 55%;
    height: auto;
    padding-right: 1rem;
}
.second-row>#img4{
    width: 40%;
    height: auto;
    padding-left: 1rem;
}
.category-btn {
    text-align: center;
}

.category-btn>button {
    border-radius: 62px;
    border: 1px solid #FFFFFF;
    background-color: #FFFFFF;
    padding: 16px 54px;
    gap: 12px;
}

.new-arrival-section {
    border-bottom: 1px solid rgba(0,0,0,0.1);
    width: 100%;
    
}

.new-arrival-section>h1 {
    text-align: center;
}

.arrival-section-photos {
    display: flex;
    justify-content: space-around;
    margin-top: 2em;
    margin-bottom: 3em;
    flex-wrap: wrap;
}

.arrival1>img,
.arrival2>img,
.arrival3>img,
.arrival4>img {
    
    height: auto;
    border-radius: 20px;
    background-color: #F0EEED;
    margin-bottom: 20px;
    width: 18em;
}

.star-section>.product-name,
.star-section>.rate {
    font-size: 20px;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 0%;
    margin-top: 10px;
    margin-bottom: 15px;
}

.star-margin {
    margin-right: 6px;
}

.star-section >p.rate> .strike-price {
    opacity: 40%;
}

.discout {
    padding: 4px 14px;
    border-radius: 62px;
    background-color: rgba(255,51,51,0.3);
    color: #FF3333;
    border: none;
}

.view-details-btn {
    padding: 10px 90px;
    gap: 12px;
    border-radius: 62px;
    background-color: #000000;
    font-weight: 700;
    font-size: 17px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #FFFFFF;
    
}

.view-d-btn-m {
    margin-top: 3px;
}

.arrival-btn {
    text-align: center;
    margin-bottom: 2em
}

.arrival-btn>button {
    border-radius: 62px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #FFFFFF;
    padding: 16px 64px;
    gap: 12px;
}

.arrow-corner {
    gap: 10px;
    display: flex;
    align-items: end;
}

.arrow-corner > img {
    width: 24px;
    height: 24px;
    background-color: #F0F0F0;
    border-radius: 2px;
}

.container5 {
    margin: 35px 65px 0px 65px;
}

.happy-cus-section {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 1em 3em 1em 3em;
}

.happy-cus-section > h1 {
    font-family: 'Montserrat';
    font-weight: 900;
    font-size: 48px;
    line-height: 100%;
    letter-spacing: 0%;
}

.customer-reivew-section {
    justify-content: space-between;
    display: flex;
    
    margin-bottom: 60px;
}

.review-of-customers {
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    width: 30%;
   
    height: auto;
    padding: 28px 32px;
    margin: 2em;
}

.review-of-customers > h4 {
    font-family: 'Montserrat';
    font-size: 20px;
    font-weight: 700;
    line-height: 2;
}

.review-of-customers>p {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0%;
    color: rgba(0, 0, 0, 0.6);
}

.footer {
    background-color: #F0F0F0;
}

.about {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 70px;
    flex-wrap: wrap;
}

.logo {
    width: 10em;
    height: 50px;
}

.footer >.about> .about-content {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.social-contact {
    display: flex;
    gap: 30px;
}

.social-contact > span {
    border: 0.65px solid rgba(0, 0, 0, 0.2);
    background-color: #FFFFFF;
    padding: 10px 12px;
    border-radius: 21px;
}

.copyright-content > p {
    text-align: center;
    padding: 30px;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0%;
}



